.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e86de;
    width: 100%;
    color: white;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
.logo{
    font-size: 1.5rem;
    margin: .5rem;
    margin-top: -16px;
}
.list{
    display: flex;
}

.learning,
.item4{
    cursor: pointer;
    background: #4cc3c1;
    padding: 4px 15px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #4cc3c1 !important;
}
.item4,
.item1,
.item2,
.item3,
.learning{
    list-style: none;
}

.modal_content{
    background-color: #ffffff;
    width: 40rem;
    height: 37rem;
    margin-top: auto;
    margin-left: 400px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative; 
}
